body{
background:rgb(55, 55, 255);
}

.temp-image{
    max-width: 100%;


}

.image-text{
    font-size: medium;
    color: rgb(229, 183, 18);
}
.temprature{
    padding:2rem 0 0 1rem ;
}


.state{
    color: rgb(187, 218, 73);
    font-size: medium;
}

#feels-like{
    color: aqua;
}